<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kisanhub"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="KisanHub"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.KisanHub">

        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".ui.transaction.AddTransactionActivity" />
        <activity android:name=".ui.farms.FarmDetailsActivity" />
        <activity android:name=".ui.farms.FarmsActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
